* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

#text-ctr {
    display: none;
    outline: 3px dotted white;
    position: absolute;
    margin-left: 12.25vw;
    margin-top: 17vh;
    width: 75vw;
    height: 66vh;
    align-items: center;
    justify-content: center;
    padding: 15px;
}