* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
}   

@keyframes diamond-anim {
    from {background-color: blue;}
    to {background-color: red;}
}

#diamond-ctr {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: diamond-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}